In [1]:
from google.cloud import bigquery

In [6]:
client = bigquery.Client()

/Users/shinji/opt/anaconda3/lib/python3.7/site-packages/google/auth/_default.py:69: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK. We recommend that most server applications use service accounts instead. If your application continues to use end user credentials from Cloud SDK, you might receive a "quota exceeded" or "API not enabled" error. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
/Users/shinji/opt/anaconda3/lib/python3.7/site-packages/google/auth/_default.py:69: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK. We recommend that most server applications use service accounts instead. If your application continues to use end user credentials from Cloud SDK, you might receive a "quota exceeded" or "API not enabled" error. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [7]:
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

In [9]:
dataset = client.get_dataset(dataset_ref)

In [11]:
tables = list(client.list_tables(dataset))

In [12]:
for table in tables:
    print(table.table_id)

comments
full
full_201510
stories

In [13]:
table_ref = dataset_ref.table("full")

In [14]:
table = client.get_table(table_ref)

In [15]:
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ())]

In [16]:
client.list_rows(table, max_results=5).to_dataframe()

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,I think the standard answer is that corporatio...,None,BalinKing,None,1553739239,2019-03-28 02:13:59+00:00,comment,19508526,19508117,None,None,None
1,None,None,"No, it is much more advantageous for them to e...",None,zarriak,None,1538277287,2018-09-30 03:14:47+00:00,comment,18104274,18104223,None,None,None
2,None,None,"""Years of Experience"" along with ""Degree"" are ...",None,gisikw,None,1338323409,2012-05-29 20:30:09+00:00,comment,4039655,4039314,None,None,None
3,None,None,Two-wheeled Chinese vehicles is a market that&...,None,whatshisface,None,1583815252,2020-03-10 04:40:52+00:00,comment,22532767,22532758,None,None,None
4,None,None,I remember back before we launched I was so wo...,None,tdavis,None,1231370285,2009-01-07 23:18:05+00:00,comment,424145,424043,None,None,None

In [17]:
client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

  title
0  None
1  None
2  None
3  None
4  None